.form {
  width: 50%;
  margin: auto;
  border: 50px solid rgb(255, 255, 255);
  padding: 10px;
}

.email-input {
  width: 300px;
  padding: 5px 10px;
}

.message {
  margin-top: 20px;
  font-size: 17px; 
}

.success {
  color: blue;
}

.error {
  color: red;
}

h2 {
  color: black;
  text-shadow: 2px 2px rgb(253, 252, 250);
  margin-bottom: 20px;
}

Label {
  margin-top: 20px;
}